.container {
  max-width: 700px !important;
}

.notes {
  width: 700px;
}
.note {
  display: flex !important;
  justify-content: space-between !important;
}
.note-tag {
  position: relative;
  width: 100px;
  height: 40px !important;
}

.delete-tag__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-size: 0.5rem;
  color: white;
  border: none;
  top: 0;
  cursor: pointer;
  right: 0;
  text-align: center;
  border-radius: 999px;
  background: red;
  width: 15px;
  height: 15px;
}
